@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@500&family=Kumbh+Sans&family=Lexend+Deca:wght@500&family=Outfit:wght@500&display=swap");

:root {
  --main-bg: hsl(212, 45%, 89%);
  --card-gb: white;
  --font-color: hsl(220, 15%, 55%);
  --font-weight-big: 700;
  --font-weight-sm: 400;
  --font-main: "Outfit", sans-serif;
  --font-footer: "Inter", sans-serif;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: var(--main-bg);
  font-family: var(--font-main);
}

/* card position */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--card-gb);
  width: 250px;
  margin: 7rem auto;
  border-radius: 1.5rem;
  padding: 2rem;
  box-shadow: 0 1px 10px var(--main-bg);
}

img {
  width: 100%;
  border-radius: 1.5rem;
}

h1,
p {
  text-align: center;
}

h1 {
  font-weight: var(--font-weight-big);
}

p {
  font-weight: var(--font-weight-sm);
  color: var(--font-color);
  font-size: 1.5rem;
}

.attribution {
  font-family: var(--font-footer);
  text-align: center;
  font-size: 1.8rem;
  margin-top: -5rem;
}

.attribution a {
  text-decoration: none;
}

.attribution a:hover {
  color: violet;
}

.attribution a:active {
  color: red;
}

/* for mobile */
@media screen and (max-width: 375px) {
  .container {
    width: 80%;
    margin: 3rem auto;
  }

  .attribution {
    margin-top: 0;
  }
}
